.container-main {
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: flex-end;
}

.container-main-body {
  /*max-width: 1000px;*/
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container-form {
  /*display: flex;*/
  justify-content: column;
  height: 100vh;
  padding: 30px;
  max-width: 2000px;
}
