.btn {
  height: 40px;
  width: 500px;
  border-radius: 3px;
  color: white;
  background: var(--main-color);
  text-align: center;
  font-size: 0.95em;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 15px;
  border: none;
  /*transition: box-shadow 0.5s ease-out;*/
}

.btn:hover {
  background: var(--main-color-light);
}
