.form-input input,
.form-input:focus input {
  background-color: #fff;
  color: #333333;
  border: none;
  height: 40px;
  border-radius: 2;
  margin-top: 15px;
  padding: 3px 15px;
  font-size: 12px;
  -webkit-box-shadow: 1px 1px 7px rgba(189, 183, 183, 0.4);
  box-shadow: 1px 1px 7px rgba(189, 183, 183, 0.4);
  transition: all 1s ease-out;
}

.form-input::placeholder {
  color: #333333;
  opacity: 0.6;
}

.form-input:hover {
  border-color: inherit;
  -webkit-box-shadow: 3px 3px 9px rgba(189, 183, 183, 0.4);
  box-shadow: 3px 3px 9px rgba(189, 183, 183, 0.4);
}

input:valid {
  box-shadow: 0 0 2px 1px green;
}

input:invalid {
  box-shadow: 0 0 2px 1px red;
}
