.form-group {
  margin-top: 20px;
}

.form-group input,
select {
  width: 100%;
  border: none;
  color: #555;
  height: 40px;
  border-radius: 3px;
  padding: 3px 15px;
  font-size: 1em;
  -webkit-box-shadow: 1px 1px 7px rgba(189, 183, 183, 0.4);
  box-shadow: 1px 3px 7px rgba(189, 183, 183, 0.4);
  transition: all 0.7s ease-out;
  background-color: white;
}

.form-group .react-datepicker-wrapper {
  width: 100%;
}

.form-group input:valid,
select:valid {
  box-shadow: 0 0 2px 1px var(--main-color-dark);
}

.form-group input:invalid,
select:invalid {
  box-shadow: 0 0 2px 1px var(--error-color-dark);
}

.form-group .input-error {
  color: var(--error-color-dark);
  margin-top: 10px;
  font-size: 0.85em;
}

.form-group label {
  font-size: 0.85em;
  margin-bottom: 2px;
}
